.navbar {
  display: flex;
  position: absolute;
  width: 100%;
  z-index: 20;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0);
  color: white;
  padding: 10px 40px;
  #logo {
    width: 50px;
    cursor: pointer;
  }
  nav {
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;
      li a {
        padding: 0 20px;
        text-decoration: none;
        color: white;
      }
    }
  }
}
.other-nav {
  background: white;
  border-bottom: 1px solid gray;
  nav .dark-nav {
    li {
      a {
        color: black;
      }
    }
  }
}
